<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>PLUS ONE TO ME <% yield :title %></title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<style>
		#container {margin :40px;}
	</style>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id = "container">
		<%= yield %>
	</div>

</body>
</html>
